.clear {
    clear: both;
    content: ""
}
  
.game {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.game-info {
    margin-bottom: 20px;
    background: #19a0d9;
    padding: 7px;
    text-align: center;
    color: #fff;
    border-radius: 7px;
}

.info {
    display: block;
    margin-top: 15px;
}

.start{
    width: 100px;
    margin-top:10px;
}

.select{
    margin-top:30px;
}

.text-field{
    width:50px;
}

.cellClass{
    width: 150px;
}